<!DOCTYPE html>
<html>
  <head>
    <title>Seguidores</title>
    <!-- <meta http-equiv="refresh" content="3; url=http://localhost:3000"> -->
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <main>

      <% for(let s of seguidores ){ %>

        <a href="/<%= s.login %>">
        <img src="<%= s.img %>" alt="<%= s.login %>">
        </a>

        <% } %>

    </main>
  </body>
</html>
