<!DOCTYPE html>
<html>
  <head>
    <title>Seguidores</title>
    <!-- <meta http-equiv="refresh" content="3; url=http://localhost:3000"> -->
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <main>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
      
      <a href="http://link_para_repo.com">
        <img src="/img/avatar.jpg" alt="Nome da Pessoa">
      </a>
    </main>
  </body>
</html>
